# 1.Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [255]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# 2.Find all of the categorical data. Save it in a categorical_df variable.

In [256]:
customer_df = pd.read_csv(r'C:\Users\duyadong\Ironhack\Week_4\Day_1\Afternoon\lab-cleaning-categorical-data\files_for_lab\we_fn_use_c_marketing_customer_value_analysis.csv')

In [257]:
categorical_df =customer_df.select_dtypes(include=object)

# 3.Check for NaN values.

In [258]:
categorical_df.isna().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

# 4.Check all unique values of columns.

In [259]:
for col in categorical_df:
    print(categorical_df[col].unique())

['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
['No' 'Yes']
['Basic' 'Extended' 'Premium']
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
['2/24/11' '1/31/11' '2/19/11' '1/20/11' '2/3/11' '1/25/11' '1/18/11'
 '1/26/11' '2/17/11' '2/21/11' '1/6/11' '2/6/11' '1/10/11' '1/17/11'
 '1/5/11' '2/27/11' '1/14/11' '1/21/11' '2/5/11' '1/29/11' '2/28/11'
 '2/12/11' '2/2/11' '2/7/11' '1/22/11' '2/13/11' '1/15/11' '1/8/11'
 '1/11/11' '1/28/11' '2/8/11' '2/23/11' '1/2/11' '2/16/11' '1/27/11'
 '1/23/11' '1/9/11' '2/11/11' '2/4/11' '2/1/11' '2/15/11' '2/26/11'
 '1/16/11' '1/1/11' '2/10/11' '1/24/11' '2/25/11' '1/12/11' '2/9/11'
 '1/19/11' '1/4/11' '2/14/11' '2/20/11' '2/18/11' '1/3/11' '1/13/11'
 '1/30/11' '2/22/11' '1/7/11']
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
['F' 'M']
['Suburban' 'Rural' 'Urban']
['Married' 'Single' 'Divorced']
['Corporate Auto' 'Personal Auto' 'Special Auto']
['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
['Offer1' 'Offer3' 'Offer2' 'Offer4']
['Agent' 'Call Center' 'Web' 'Branch']
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
['Medsize' 'Small' 'Large']

# 5.Check dtypes. Do they all make sense as categorical data?

In [260]:
categorical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer           9134 non-null   object
 1   State              9134 non-null   object
 2   Response           9134 non-null   object
 3   Coverage           9134 non-null   object
 4   Education          9134 non-null   object
 5   Effective To Date  9134 non-null   object
 6   EmploymentStatus   9134 non-null   object
 7   Gender             9134 non-null   object
 8   Location Code      9134 non-null   object
 9   Marital Status     9134 non-null   object
 10  Policy Type        9134 non-null   object
 11  Policy             9134 non-null   object
 12  Renew Offer Type   9134 non-null   object
 13  Sales Channel      9134 non-null   object
 14  Vehicle Class      9134 non-null   object
 15  Vehicle Size       9134 non-null   object
dtypes: object(16)
memory usage: 1.1+ MB

In [261]:
categorical_df.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

It does not make sence for effective to date to become a categorical variable,it should be the datetime type.

# 6.Does any column contain alpha and numeric data? Decide how to clean it.

In [262]:
customer_df['Customer'] = customer_df['Customer'].str[2:]#for customer,we can delete the first two letter,only keep the number

In [263]:
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [264]:
customer_df['Renew Offer Type'] = customer_df['Renew Offer Type'].str[-1:]#for Renew Offer Type,we can delete the offer,only keep the number

In [265]:
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,1,Agent,384.811147,Two-Door Car,Medsize
1,44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,3,Agent,1131.464935,Four-Door Car,Medsize
2,49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,1,Agent,566.472247,Two-Door Car,Medsize
3,63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,1,Call Center,529.881344,SUV,Medsize
4,64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,1,Agent,138.130879,Four-Door Car,Medsize

# 7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

Yes,I will cast the effective to date into datetype.

In [266]:
customer_df['Effective To Date']=pd.to_datetime(customer_df['Effective To Date'])
customer_df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,1,Agent,384.811147,Two-Door Car,Medsize
1,44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,3,Agent,1131.464935,Four-Door Car,Medsize
2,49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,1,Agent,566.472247,Two-Door Car,Medsize
3,63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,1,Call Center,529.881344,SUV,Medsize
4,64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,2,Web,198.234764,Four-Door Car,Medsize
9130,87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,1,Branch,379.200000,Four-Door Car,Medsize
9131,14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,1,Branch,790.784983,Four-Door Car,Medsize
9132,19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,3,Branch,691.200000,Four-Door Car,Large
9133,67826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,4,Call Center,369.600000,Two-Door Car,Medsize

# 8.Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

the policy type already defined the type,so the policy don't need this information again,so we can just keep the level number in the policy.

In [267]:
customer_df['Policy'] = customer_df['Policy'].str[-1:]
customer_df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,3,1,Agent,384.811147,Two-Door Car,Medsize
1,44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,3,3,Agent,1131.464935,Four-Door Car,Medsize
2,49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,3,1,Agent,566.472247,Two-Door Car,Medsize
3,63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,2,1,Call Center,529.881344,SUV,Medsize
4,64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,1,1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,89,0,2,Personal Auto,1,2,Web,198.234764,Four-Door Car,Medsize
9130,87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,3,1,Branch,379.200000,Four-Door Car,Medsize
9131,14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,2,1,Branch,790.784983,Four-Door Car,Medsize
9132,19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,2,3,Branch,691.200000,Four-Door Car,Large
9133,67826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,3,4,Call Center,369.600000,Two-Door Car,Medsize

# 9.Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

In [268]:
customer_df['Education'].value_counts()

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

In [269]:
customer_df['Vehicle Class'].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

In [270]:
# need = categorical["education"].value_counts().index[:3]
# categorical["education"] = np.where(categorical["education"].isin(need), categorical["education"], 'Post-Uni')
# categorical["education"].value_counts(dropna=False)

By looking at the number of unique values,I find that we can combine Master and Doctor for Education variable because both of them are just a small amount.The same for Sports Car, Luxury SUV and Luxury Car for Vehicle Class variable.

In [271]:
customer_df["Education"].loc[customer_df["Education"].isin(['Master','Doctor'])] = "Post-Uni"
customer_df["Education"].value_counts(dropna=False)

C:\Users\duyadong\AppData\Local\Temp\ipykernel_15840\465289519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df["Education"].loc[customer_df["Education"].isin(['Master','Doctor'])] = "Post-Uni"

Bachelor                2748
College                 2681
High School or Below    2622
Post-Uni                1083
Name: Education, dtype: int64

In [272]:
customer_df["Vehicle Class"].loc[customer_df["Vehicle Class"].isin(['Sports Car','Luxury SUV','Luxury Car'])] = "Facy Car"
customer_df["Vehicle Class"].value_counts(dropna=False)

C:\Users\duyadong\AppData\Local\Temp\ipykernel_15840\3202127244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df["Vehicle Class"].loc[customer_df["Vehicle Class"].isin(['Sports Car','Luxury SUV','Luxury Car'])] = "Facy Car"

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Facy Car          831
Name: Vehicle Class, dtype: int64

# Lab | Comparing regression models

# 1.In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

Will do the split in the latter steps to avoid complexity

# 2.We will start with removing outliers, if you have not already done so. We have discussed different methods to remove outliers. Use the one you feel more comfortable with, define a function for that. Use the function to remove the outliers and apply it to the dataframe.

In [273]:
numerical_df=customer_df.select_dtypes(include=np.number)
numerical_df.columns

Index(['Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies',
       'Total Claim Amount'],
      dtype='object')

In [274]:
# def findoutlier(column):
#     q1, q3 = np.percentile(sorted(column), [25, 75])
 
#     iqr = q3 - q1
 
#     lower_limit= q1 - (1.5 * iqr)
#     upper_limit = q3 + (1.5 * iqr)
 
#     outliers = [x for x in column if x <= lower_limit or x >= upper_limit]
 
#     return outliers

In [275]:
# # input data
# outlier1 = findoutlier(numerical_df['Customer Lifetime Value'])
# outlier2 = findoutlier(numerical_df['Monthly Premium Auto'])
# outlier3 = findoutlier(numerical_df['Total Claim Amount'])

In [276]:
df2=customer_df.copy()

In [277]:
#numerical_df['Customer Lifetime Value'].drop(axis=0,index=outlier1.index)
#numerical_df['Customer Lifetime Value'].drop(numerical_df[numerical_df['Customer Lifetime Value'] in outlier1])
#numerical_df = numerical_df.loc[numerical_df["Customer Lifetime Value"] not in outlier1]
cols = ['Customer Lifetime Value', 'Monthly Premium Auto','Total Claim Amount'] 
Q1 = df2[cols].quantile(0.25)
Q3 = df2[cols].quantile(0.75)
IQR = Q3 - Q1
df2 = df2[~((df2[cols] < (Q1 - 1.5 * IQR)) |(df2[cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [278]:
df2

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,3,1,Agent,384.811147,Two-Door Car,Medsize
2,49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,3,1,Agent,566.472247,Two-Door Car,Medsize
3,63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,2,1,Call Center,529.881344,SUV,Medsize
4,64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,1,1,Agent,138.130879,Four-Door Car,Medsize
5,83172,Oregon,8256.297800,Yes,Basic,Bachelor,2011-01-25,Employed,F,62902,...,94,0,2,Personal Auto,3,2,Web,159.383042,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9128,19146,California,4100.398533,No,Premium,College,2011-01-06,Employed,F,47761,...,58,0,1,Personal Auto,2,1,Branch,541.282007,Four-Door Car,Large
9130,87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,3,1,Branch,379.200000,Four-Door Car,Medsize
9131,14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,2,1,Branch,790.784983,Four-Door Car,Medsize
9132,19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,2,3,Branch,691.200000,Four-Door Car,Large
9133,67826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,3,4,Call Center,369.600000,Two-Door Car,Medsize

# 3.Create a copy of the dataframe for the data wrangling.

Already made df2 a copy of original data.

# 4.Encode the categorical variables (See the hint below for encoding categorical data!!!)

In [279]:
df2=df2.drop(['Customer','Effective To Date'],axis=1)#drop the customer column,cuz it's meaningless here.

In [280]:
y=df2['Total Claim Amount']
X=df2.drop('Total Claim Amount', axis=1)

In [281]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)
print('X_train shape is:',X_train.shape)
print('y_train shape is:', y_train.shape)
print('X_test shape is:', X_test.shape)
print('y_test shape is:', y_test.shape)#split the data

X_train shape is: (6277, 21)
y_train shape is: (6277,)
X_test shape is: (1570, 21)
y_test shape is: (1570,)

In [282]:
X_train["Coverage"] = X_train["Coverage"].map({"Basic" : 0, "Extended" :.5, "Premium" : 1})
X_test["Coverage"] = X_test["Coverage"].map({"Basic" : 0, "Extended" :.5, "Premium" : 1})

In [283]:
X_train['EmploymentStatus'].unique()

array(['Unemployed', 'Employed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

In [284]:
X_train["EmploymentStatus"] = X_train["EmploymentStatus"].map({"Medical Leave" : 0, "Disabled" : 0, "Unemployed" : 0, "Retired" : .5, "Employed":1})
X_test["EmploymentStatus"] = X_test["EmploymentStatus"].map({"Medical Leave" : 0, "Disabled" : 0, "Unemployed" : 0, "Retired" : .5, "Employed":1})

In [285]:
X_train['Location Code'].unique()

array(['Suburban', 'Rural', 'Urban'], dtype=object)

In [286]:
X_train["Location Code"] =X_train["Location Code"].map({"Rural" : 0, "Suburban" :.5, "Urban" : 1,})
X_test["Location Code"] =X_test["Location Code"].map({"Rural" : 0, "Suburban" :.5, "Urban" : 1,})

In [287]:
X_train['Vehicle Size'].unique()

array(['Medsize', 'Small', 'Large'], dtype=object)

In [288]:
X_train["Vehicle Size"] =X_train["Vehicle Size"].map({"Small" : 0, "Medsize" :.5, "Large" : 1,})
X_test["Vehicle Size"] =X_test["Vehicle Size"].map({"Small" : 0, "Medsize" :.5, "Large" : 1,})

In [289]:
X_train["Education"].value_counts(dropna=False)

College                 1900
Bachelor                1874
High School or Below    1737
Post-Uni                 766
Name: Education, dtype: int64

In [290]:
X_train["Education"] = X_train["Education"].map({"High School or Below" : 0, "College" :.33, "Bachelor" : .66,"Post-Uni" : 1})
X_test["Education"] = X_test["Education"].map({"High School or Below" : 0, "College" :.33, "Bachelor" : .66,"Post-Uni" : 1})

In [291]:
X_train_1_hot_col = X_train[['State','Response','Gender','Marital Status','Policy Type','Policy','Renew Offer Type','Sales Channel','Vehicle Class']]
X_train_1_hot_col

,State,Response,Gender,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class
5830,California,No,M,Single,Personal Auto,3,2,Web,Four-Door Car
5840,California,No,M,Single,Personal Auto,2,2,Branch,Two-Door Car
3518,Oregon,No,F,Single,Personal Auto,3,1,Web,Four-Door Car
9053,California,No,M,Married,Personal Auto,3,2,Call Center,SUV
841,California,No,F,Married,Personal Auto,3,1,Call Center,SUV
...,...,...,...,...,...,...,...,...,...
3233,Arizona,Yes,F,Single,Personal Auto,3,1,Agent,Four-Door Car
8955,California,No,M,Single,Personal Auto,2,1,Agent,Two-Door Car
85,Washington,No,M,Married,Personal Auto,2,1,Call Center,Four-Door Car
7367,Nevada,No,M,Married,Personal Auto,3,1,Agent,Four-Door Car
384,Washington,No,M,Married,Personal Auto,2,1,Call Center,Two-Door Car

In [292]:
X_test_1_hot_col = X_test[['State','Response','Gender','Marital Status','Policy Type','Policy','Renew Offer Type','Sales Channel','Vehicle Class']]
X_test_1_hot_col

,State,Response,Gender,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class
8186,California,No,M,Single,Corporate Auto,3,1,Web,Four-Door Car
6188,Oregon,No,F,Married,Personal Auto,3,1,Branch,SUV
600,Oregon,No,M,Divorced,Corporate Auto,3,1,Agent,Four-Door Car
8905,California,No,F,Single,Corporate Auto,1,1,Agent,Four-Door Car
3437,Arizona,Yes,F,Married,Corporate Auto,2,2,Branch,Two-Door Car
...,...,...,...,...,...,...,...,...,...
6574,Oregon,No,F,Married,Personal Auto,3,1,Branch,Two-Door Car
8401,Oregon,No,F,Single,Corporate Auto,3,1,Agent,Four-Door Car
923,Arizona,No,F,Divorced,Personal Auto,3,2,Call Center,Four-Door Car
5516,Washington,No,M,Single,Personal Auto,3,1,Branch,Four-Door Car
3946,Oregon,No,M,Married,Corporate Auto,3,3,Agent,Four-Door Car

OneHotEncode the remaining categorical columns

In [293]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(X_train_1_hot_col)
cols = encoder.get_feature_names(input_features = X_train_1_hot_col.columns)
X_train_col_encoded = pd.DataFrame(encoder.transform(X_train_1_hot_col).toarray(),columns=cols)
X_train_col_encoded

C:\Users\duyadong\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,State_California,State_Nevada,State_Oregon,State_Washington,Response_Yes,Gender_M,Marital Status_Married,Marital Status_Single,Policy Type_Personal Auto,Policy Type_Special Auto,...,Policy_3,Renew Offer Type_2,Renew Offer Type_3,Renew Offer Type_4,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_SUV,Vehicle Class_Two-Door Car
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6272,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6273,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6274,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6275,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6276,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [294]:
cols1 = encoder.get_feature_names(input_features = X_test_1_hot_col.columns)
X_test_col_encoded = pd.DataFrame(encoder.transform( X_test_1_hot_col).toarray(),columns=cols1)
X_test_col_encoded

C:\Users\duyadong\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,State_California,State_Nevada,State_Oregon,State_Washington,Response_Yes,Gender_M,Marital Status_Married,Marital Status_Single,Policy Type_Personal Auto,Policy Type_Special Auto,...,Policy_3,Renew Offer Type_2,Renew Offer Type_3,Renew Offer Type_4,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_SUV,Vehicle Class_Two-Door Car
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1566,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1568,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1569,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [295]:
X_train = X_train.drop(['State','Response','Gender','Marital Status','Policy Type','Policy','Renew Offer Type','Sales Channel','Vehicle Class'],axis = 1)
X_train=X_train.reset_index()
X_train

,index,Customer Lifetime Value,Coverage,Education,EmploymentStatus,Income,Location Code,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Vehicle Size
0,5830,5357.758930,0.5,0.33,0.0,0,0.5,82,7,77,0,7,0.5
1,5840,2449.317710,0.0,0.00,1.0,47122,0.5,62,6,77,0,1,0.5
2,3518,6647.846187,0.0,0.66,0.0,0,0.5,65,34,27,0,2,0.5
3,9053,8996.774075,0.0,0.00,1.0,49706,0.5,113,13,95,0,3,0.5
4,841,8237.037945,0.0,0.66,0.0,23940,0.5,107,13,34,0,7,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6272,3233,13197.928930,0.0,0.33,0.0,0,0.5,68,19,2,3,2,1.0
6273,8955,5620.587184,0.0,1.00,1.0,21142,0.0,71,16,79,0,4,1.0
6274,85,7703.397294,0.0,0.00,1.0,36765,0.5,66,15,32,1,2,0.5
6275,7367,2757.383982,0.0,0.33,1.0,50414,0.5,69,25,34,0,1,0.5
6276,384,4685.504251,1.0,1.00,1.0,77678,0.5,116,32,81,0,1,0.0

In [296]:
X_test = X_test.drop(['State','Response','Gender','Marital Status','Policy Type','Policy','Renew Offer Type','Sales Channel','Vehicle Class'],axis = 1)
X_test = X_test.reset_index()
X_test

,index,Customer Lifetime Value,Coverage,Education,EmploymentStatus,Income,Location Code,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Vehicle Size
0,8186,15862.175070,0.0,0.66,0.0,0,0.5,66,14,16,0,2,0.5
1,6188,8566.423522,0.0,1.00,1.0,99652,1.0,106,21,80,2,4,1.0
2,600,7366.188300,0.0,0.66,1.0,70014,0.0,62,6,4,0,2,1.0
3,8905,2449.789611,0.0,0.66,1.0,44662,1.0,63,3,51,1,1,0.5
4,3437,2719.506996,0.0,0.33,0.5,14030,0.5,72,11,3,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565,6574,5460.373249,0.0,1.00,1.0,31530,0.5,69,24,47,1,3,0.5
1566,8401,4940.124252,0.0,0.66,0.0,0,0.5,71,10,85,0,3,0.0
1567,923,2755.747968,0.0,0.66,1.0,49648,0.0,70,0,23,0,1,0.5
1568,5516,3008.969524,0.5,0.66,0.0,0,1.0,87,2,55,0,1,0.5
1569,3946,11323.355550,0.5,1.00,1.0,98254,0.0,94,23,11,3,2,0.5

In [297]:
X_train = X_train.drop('index', axis=1)
X_test = X_test.drop('index',axis=1)

In [299]:
X_train_encoded= pd.concat([X_train,X_train_col_encoded],axis=1)
X_train_encoded= X_train_encoded.reset_index()
X_train_encoded= X_train_encoded.drop('index',axis=1)

In [300]:
X_test_encoded= pd.concat([X_test,X_test_col_encoded],axis=1)
X_test_encoded= X_test_encoded.reset_index()
X_test_encoded= X_test_encoded.drop('index',axis=1)
X_test_encoded

,Customer Lifetime Value,Coverage,Education,EmploymentStatus,Income,Location Code,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,...,Policy_3,Renew Offer Type_2,Renew Offer Type_3,Renew Offer Type_4,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_SUV,Vehicle Class_Two-Door Car
0,15862.175070,0.0,0.66,0.0,0,0.5,66,14,16,0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,8566.423522,0.0,1.00,1.0,99652,1.0,106,21,80,2,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,7366.188300,0.0,0.66,1.0,70014,0.0,62,6,4,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2449.789611,0.0,0.66,1.0,44662,1.0,63,3,51,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2719.506996,0.0,0.33,0.5,14030,0.5,72,11,3,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565,5460.373249,0.0,1.00,1.0,31530,0.5,69,24,47,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1566,4940.124252,0.0,0.66,0.0,0,0.5,71,10,85,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1567,2755.747968,0.0,0.66,1.0,49648,0.0,70,0,23,0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1568,3008.969524,0.5,0.66,0.0,0,1.0,87,2,55,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1569,11323.355550,0.5,1.00,1.0,98254,0.0,94,23,11,3,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [301]:
X_train_to_scale = X_train[['Customer Lifetime Value','Income','Monthly Premium Auto','Months Since Last Claim','Months Since Policy Inception','Number of Open Complaints','Number of Policies']]
X_train_to_scale
X_test_to_scale = X_test[['Customer Lifetime Value','Income','Monthly Premium Auto','Months Since Last Claim','Months Since Policy Inception','Number of Open Complaints','Number of Policies']]
X_test_to_scale

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,15862.175070,0,66,14,16,0,2
1,8566.423522,99652,106,21,80,2,4
2,7366.188300,70014,62,6,4,0,2
3,2449.789611,44662,63,3,51,1,1
4,2719.506996,14030,72,11,3,0,1
...,...,...,...,...,...,...,...
1565,5460.373249,31530,69,24,47,1,3
1566,4940.124252,0,71,10,85,0,3
1567,2755.747968,49648,70,0,23,0,1
1568,3008.969524,0,87,2,55,0,1
1569,11323.355550,98254,94,23,11,3,2

In [ ]:
#Initialize and fit the scaler

In [302]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(X_train_to_scale)

In [303]:
X_norm1 = transformer.transform(X_train_to_scale)
X_train_scaled = pd.DataFrame(X_norm1, columns=X_train_to_scale.columns)
X_train_scaled = X_train_scaled.reset_index()

In [304]:
X_norm2 = transformer.transform(X_test_to_scale)
X_test_scaled = pd.DataFrame(X_norm2, columns=X_test_to_scale.columns)
X_test_scaled= X_test_scaled.reset_index()

In [305]:
X_train = X_train.drop(['Customer Lifetime Value','Income','Monthly Premium Auto','Months Since Last Claim','Months Since Policy Inception','Number of Open Complaints','Number of Policies'],axis = 1)
X_test = X_test.drop(['Customer Lifetime Value','Income','Monthly Premium Auto','Months Since Last Claim','Months Since Policy Inception','Number of Open Complaints','Number of Policies'],axis=1)

In [306]:
X_train_s_e = pd.concat([X_train, X_train_scaled],axis = 1)
X_test_s_e = pd.concat([X_test, X_test_scaled], axis = 1)

In [307]:
X_train_s_e.isna().sum()

Coverage                         0
Education                        0
EmploymentStatus                 0
Location Code                    0
Vehicle Size                     0
index                            0
Customer Lifetime Value          0
Income                           0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
dtype: int64

8.Try a simple linear regression with all the data to see whether we are getting good results.
9.Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.
10.Use the function to check LinearRegressor and KNeighborsRegressor.
11.You can check also the MLPRegressor for this task!
12.Check and discuss the results.

In [308]:
# Define function to run all models
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
def models_automation(models, X_tr, y_tr,X_te, y_te):
    for model in models:
        model.fit(X_tr, y_tr)
        print(f"{model.__class__.__name__}: Train -> {model.score(X_tr, y_tr)}, Test -> {model.score(X_te, y_te)}")

In [309]:
model_list = [LinearRegression(),SGDRegressor(),KNeighborsRegressor(), MLPRegressor(),DecisionTreeRegressor(),RandomForestRegressor()]
models_automation(model_list, X_train_s_e,y_train,X_test_s_e, y_test)

LinearRegression: Train -> 0.5065035408520671, Test -> 0.468459551589664
SGDRegressor: Train -> -2.6655165790994875e+24, Test -> -1.6637589650913002e+23
KNeighborsRegressor: Train -> 0.18615045683799203, Test -> -0.17296595049565244

C:\Users\duyadong\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor: Train -> 0.44830019059969084, Test -> 0.4216974689712252
DecisionTreeRegressor: Train -> 1.0, Test -> 0.6686239221926821
RandomForestRegressor: Train -> 0.9743626912893117, Test -> 0.8259213209955478

We run a couple of regression together:
 1.the linear regression does not seem to provide a good result.
 2.the RandomForestRegressor gives us the best result.